<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- este boton es el que esta al lado del titulo para volver 
    a la pagina anterior -->
    <ion-button slot="start">
      <ion-back-button></ion-back-button>
    </ion-button>
    
    <ion-title>registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">registro</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
